<%# Templates that are ment to be rendered as templates, and not pages themselves, should be prefixed with "_"%>

<div>
    <%= simple_form_for [@cateogry, @product] do |form| %>
        <%= form.input :title %>
        <%= form.input :description %>
        <%= form.input(:price, in: 1.00..1000.00, step: 0.05) %>
        <%= form.input :image %>
        <%#= form.select :category_id, @categories.map { |category| [category.name, category.id]} %>
        <%= form.association :category, input_html: { class: 'chosen-select' } %>
        <%= form.association :tags, as: :check_boxes %>
        <%= form.submit({class: "btn btn-primary"}) %>
    <% end %>
</div>