<h1>Details about your Product:</h1>
<hr>
<h2>Product title: <%= @product.title %></h2>
    <p>Description: <%= @product.description %></p>
    <p>By: <%= @product.user&.full_name %></p>
    <p>Price: <%= number_to_currency(@product.price, :unit => "€") %></p>
<hr>
    <p>Created at: <%= @product.created_at %></p>
    <% if user_signed_in? && can?(:manage, @product) %>
    <%= link_to "Edit", edit_product_path(@product) %> |
    <%= link_to "Delete", product_path(@product), method: :delete, data: {confirm: "Are you sure"} %>
    <% end %>
    
<hr>
<div>
    <%= form_for [@product, @review] do |f| %>
        <div>
            <%= f.label :rating %>
            <%= f.select :rating, (1..5).map {|num| [num, num]}%>
        </div>
        <div>
            <%= f.label :body%>
            <%= f.text_area :body %>
        </div>
            <%= f.submit %>
    <%end%>
</div>

<hr>
    <% @product.reviews.each do |review|%>
<hr>
    <p><strong>By: </strong><%= review.user&.full_name %></p> 
    <p><strong>Rating: </strong><%= review.rating %></p> 
    <p><strong>Body: </strong><%= review.body %>
    <p><%= pluralize(review.likes.count, 'person') %> like this review.</p>
    <% if user_signed_in? %>
        <%= link_to 'Like', review_likes_path(review), method: :post %>
    <% end %>
    <% if user_signed_in? && can?(:manage, review) %>
            <%= link_to 'Delete Review', [review], method: :delete, data: { confirm: 'Are you sure?' } %>
    <%end %>
<hr>
<%end %>