<h1>Details about your Product:</h1>
<hr>
<h2>Product title: <%= @product.title %></h2>
    <p>Description: <%= @product.description %></p>
    <p>By: <%= @product.user&.full_name %></p>
    <p>Price: <%= number_to_currency(@product.price, :unit => "€") %></p>
    <%= image_tag @product.image.url(:large) %>
    <p><strong>Tags: </strong><br>
        <% @product.tags.each do |tag| %>
            <%= link_to tag.name, tag %><br>
        <% end %>
    </p>
<hr>
    <p>Created at: <%= @product.created_at %></p>
    <%= pluralize(@product.favourites.count, 'Person') %> Favourited this Product.
    <% if user_signed_in? && can?(:favourite, @product) %>
        <% if @favourite.present? %>
            <%= link_to fa_icon('star'), favourite_path(@favourite), method: :delete %> |
        <% else %>
            <%= link_to fa_icon('star-o'), product_favourites_path(@product), method: :post %> |
        <% end %>
    <% end %>
    <% if user_signed_in? && can?(:crud, @product) %>
    <%= link_to "Edit", edit_product_path(@product) %> |
    <%= link_to "Delete", product_path(@product), method: :delete, data: {confirm: "Are you sure"} %>
    <% end %>
    
<hr>
<div>
    <%= form_for [@product, @review] do |f| %>
        <div>
            <%= f.label :rating %>
            <%= f.select :rating, (1..5).map {|num| [num, num]}%>
        </div>
        <div>
            <%= f.label :body%>
            <%= f.text_area :body %>
        </div>
            <%= f.submit %>
    <%end%>
</div>

<hr>
    <% @product.reviews.each do |review|%>
    <div id="review-<%= review.id %>">
    <hr>
    <p><strong>By: </strong><%= review.user&.full_name %></p> 
    <p><strong>Rating: </strong><%= review.rating %></p> 
    <p><strong>Body: </strong><%= review.body %></p>
    <p><%= pluralize(review.likes.count, 'person') %> like this review.</p>
    <% if user_signed_in? && can?(:like, review) %>
        <% if review.like_for(current_user).present? %>
            <%= link_to fa_icon('heart'), like_path(review.like_for(current_user)), method: :delete %>
            <% else %>
            <%= link_to fa_icon('heart-o'), review_likes_path(review), method: :post %>
        <% end %>
    <% end %>
    <% if user_signed_in? && can?(:crud, review) %>
            <%= link_to 'Delete Review', [review], method: :delete, data: { confirm: 'Are you sure?' } %>
    <%end %>
    </div>
<hr>
<%end %>